---
const ignoredMarkup = "<button></button>";
---

<main>
  <h1>Checkout</h1>
  <h3>Shipping</h3>
  <button />
  <img src="/product.png" />
  <label for="phone">Phone</label>
  <input id="phone" name="phone" />
</main>
